body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Welcome Page Starts */
.welcome {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.welcome-bg {
    background-image: url('images/bgSlider.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.nav-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10vh;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar a {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    margin-right: 15px;
}

.nav-bar a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.welcome-line {
    width: 60vw;
}

h1 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
    text-align: left;
    font-weight: lighter;
    padding: 0;
    padding-left: 10vw;
    padding-top: 10vh;
    margin: 0;
}

.welcome-span {
    color: orangered;
}

.welcome-lorem {
    text-align: left;
    color: white;
    font-style: italic;
    font-family: "Open Sans";
    width: 50vw;
    padding-left: 10vw;
}

.welcome-button {
    display: flex;
    padding-top: 5vh;
    padding-left: 10vw
}

.read-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    background-color: orangered;
    border: 2px solid orangered;
}

.read-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 20px;
}

.read-1:hover {
    background-color: transparent;
    border: 2px solid white;
}

.read-2:hover {
    background-color: orangered;
    border: 2px solid orangered;
}

/* Welcome Page Ends */

/* About Page Starts */
.about-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.creative-agency {
    width: 40vw;
    margin: 0;
}

h2 {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
    text-align: left;
    font-weight: lighter;
    margin: 0;
    line-height: 1;
}

.about-h2 {
    width: 20vw;
}

.creative {
    color: orangered;
}

.about-lorem p {
    color: black;
    text-align: left;
    font-family: "Open Sans";
    font-size: 12px;
    width: 20vw;
}

.about-box {
    background-color: rgb(192, 54, 3);
    width: 30vw;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-left: -12vw;
    background-image: url("images/team6.jpg");
    background-size: cover;
}

.horizontal-line {
    width: 20vw;
    margin: 0;
    height: 1px;
    background-color: #fff;
}

.work-box {
    display: flex;
    flex-direction: row;
    padding-left: 7vw;
}

.working {
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-align: right;
}

h3 {
    padding-top: 30px;
    font-size: 35px;
    margin: 0;
    font-weight: lighter;
}

h4 {
    font-size: 25px;
    margin: 0;
    font-weight: lighter;
    padding-bottom: 20px;
}

.tag {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 10px solid orangered;
    background-color: #fff;
    margin-top: 5vh;
    position: relative;
    margin-left: 40px;
}

.icon {
    height: 5.5vh;
    padding-top: 2vh;
    padding-left: 0.6vw;
}

.about-right {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom:20px;
}

.about-text {
    padding-top: 20px;
}

.about-right p {
    width: 26vw;
    font-size: 14px;
}

/* About Page Ends */

/* Services  Page Starts */
.services-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: #f4f2f2;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: repeat(2, 210px);
    gap: 20px;
    justify-content: end;
    padding-left: 5vw;
    padding-top: 10vh;
}

.services-line {
    width: 20vw;
    padding-left: 10vw;
    padding-top: 50vh;
}

.item {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.service-title {
    font-family: "Bebas Neue", sans-serif;
    color: orangered;
    padding-bottom: 10px;
}

.service-img {
    width: 35px;
    padding-bottom: 10px;
}

.service-info {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: lighter;
}

/* Services Page Ends */

/* Blog Page Starts */
.blog-page {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.blog-title {
    margin-top: auto;
    padding: 0;
    padding-bottom: 8vh;
    padding-left: 8vw;
}

.blog-title h2 {
    width: 20vw;
}

.blog-column {
    display: flex;
    flex-direction: column;
}

.time {
    background-color: orangered;
    width: 50px;
    height: 60px;
    text-align: center;
    margin-left: 2vw;
    margin-top: 15vh;
}

.date h4 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    padding: 0;
    font-size: 40px;
    margin: 0;
    line-height: 1;
    padding-top: 3px;
}

.month h5 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}

.blog1 {
    background-image: url("images/blog\ 1.svg");
    width: 257px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-data-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3vh;
}

.blog-text-1 {
    padding-left: 2vw;
}

.blog-text-1 h4 {
    font-family: "Bebas Neue", sans-serif;
    color: black;
    padding: 0;
}

.blog-text-1 p {
    font-family: "Open Sans";
    color: rgb(49, 45, 45);
    width: 17vw;
    font-size: 13px;
    margin: 0;
}

.blog2 {
    background-image: url("images/blog\ 2.svg");
    width: 257px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog3 {
    background-image: url("images/blog\ 3.svg");
    width: 257px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}


.blog-box {
    background-image: url("images/blog4.svg");
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.blog-box .time {
    margin-top: 20px;
}

.blog-box-text-1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 250px;
}

.blog-box-text-1 h4 {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    padding: 0;
    padding-top: 5vh;
    font-size: 30px;
}

.blog-box-text-1 p {
    font-family: "Open Sans";
    color: white;
    width: 20vw;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

/* Blog Section Ends */

/* Team Section Starts */
.team-page {
    background-color: #f4f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.team-line {
    width: 20vw;
    margin-top: auto;
    padding: 0;
    padding-bottom: 8vh;
    padding-left: 8vw;
    padding-right: 3vw;
}

.team-member {
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    padding-right: 2vw;
}

.member-image-1 {
    background-image: url("images/team1.jpg");
    width: 20vw;
    height: 60vh;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.member-image-2 {
    background-image: url("images/team2.jpg");
    width: 20vw;
    height: 60vh;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.member-image-3 {
    background-image: url("images/team3.jpg");
    width: 20vw;
    height: 60vh;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.member-title {
    padding-top: 10px;
    text-align: center;
}

.member-title h4 {
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.member-title h5 {
    font-family: "Bebas Neue", sans-serif;
    color: orangered;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.member-title p {
    font-family: "Open Sans";
    color: black;
    margin: 0 auto;
    padding: 0;
    width: 15vw;
    font-size: 13px;
}

/* Team Section Ends */

/* Portfolio Section Starts */
.portfolio-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.portfolio-page-main {
    display: flex;
    flex-direction: row;
}

.main-1,
.main-2,
.min-box-3 {
    display: flex;
    flex-direction: column;
}

.main-container-2,
.main-container-4 {
    display: flex;
    flex-direction: row;
}

.main-container-1,
.main-container-3 {
    height: 35vh;
    width: 50vw;
}

.min-box-1 {
    height: 65vh;
    width: 20vw;
}

.min-box-2 {
    width: 30vw;
    height: 65vh;
    background-color: white;
}

.small-box-1,
.small-box-2 {
    height: 32.5vh;
    width: 25vw;
}

.min-box-4 {
    width: 25vw;
    height: 65vh;
}

.work-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-title {
    padding-top: 15vh;
    padding-left: 2vw;
    width: 20vw;
}

.portfolio-title-1 {
    display: none;
}

/* Portfolio Section Ends */

/* Design Section Starts */
.design-page {
    background-color: #f4f2f2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.design-box-1,
.design-box-2,
.design-box-3 {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 20px;
}

.design-box-1 img {
    width: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.design-box-1 h4,
.design-box-2 h4,
.design-box-3 h4 {
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.design-box-1 h5,
.design-box-2 h5,
.design-box-3 h5 {
    font-family: "Bebas Neue", sans-serif;
    color: orangered;
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.design-box-1 p,
.design-box-2 p,
.design-box-3 p {
    font-family: "Open Sans";
    color: black;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.design-box-1 h2,
.design-box-2 h2,
.design-box-3 h2 {
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 55px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.design-box-2 img,
.design-box-3 img {
    width: 50px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.design-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    background-color: orangered;
    border: 2px solid orangered;
}

.design-button:hover {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
}

/* Design Section Ends */

/* Contact Section Starts */
.contact-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.find {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.find-title {
    padding-left: 10vw;
    padding-top: 7vh;
    padding-bottom: 2vh;
}

.find-title h2 {
    font-size: 60px;
    width: 12vw;
}

.find-image img {
    height: 100%;
    width: auto;
}

.find-image {
    overflow: hidden;
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.contact-icon {
    width: 100px;
    padding: 0;
    margin: 0;
}

.contact-desc {
    display: flex;
    flex-direction: column;
}

.contact-desc h4 {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    color: orangered;
    padding-top: 10px;
    font-size: 25px;
}

.contact-desc p {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    color: black;
    font-size: 12px;
    width: 170px;
}

.contact-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

/* Contact Section Ends */

.footer-container {
    padding: 20px 0 20px;
    position: relative;
    background: #f2f2f2;
}

.foot-info {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
    font-family: "Open Sans";
    color: black
}

.foot-info p {
    font-weight: bolder;
    font-size: 13px;
}


@media (max-width: 1100px) {
    h1 {
        font-size: 50px;
    }

    .welcome-line h1 {
        width: 100vw;
    }

    h2 {
        font-size: 60px;
    }

    .services-line {
        width: 100%;
        padding: 0;
    }

    .services-line h2 {
        font-size: 50px;
        text-align: center;
        padding-top: 5vh;
    }

    .services-grid {
        padding-bottom: 20px;
        align-items: center;
        margin: 0 auto;
        padding-top: 20px;
    }

    .blog-title h2 {
        width: 100vw;
        text-align: center;
    }

    .tag {
        display: none;
    }
}

@media (max-width: 800px) {

    /* Welcome Page Starts */
    .welcome {
        height: auto;
    }

    .welcome-bg {
        height: auto;
        padding-bottom: 5vh;
    }

    .nav-box {
        padding-top: 5vh;
    }

    #logo {
        padding-bottom: 2vh;
    }

    .nav-bar a {
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-size: 24px;
        text-decoration: none;
        margin-right: 15px;
    }

    h1 {
        font-size: 50px;
        text-align: center;
        padding: 0;
    }

    .welcome-line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        word-wrap: break-word;
        padding-top: 30px;
    }

    .welcome-lorem {
        text-align: center;
        padding: 0;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        width: 95vw;
    }

    .welcome-button {
        padding: 0;
        padding-top: 20px;
        justify-content: center;
    }

    /* Welcome Page Ends */
    /* About Page Starts */

    h2 {
        font-size: 50px;
        text-align: center;
    }

    .about-page {
        height: auto;
    }

    .about-h2 {
        padding-top: 30px;
        padding-bottom: 15px;
        width: 90vw;
    }

    .about-lorem p {
        text-align: center;
        font-size: 14px;
        width: 90vw;
        padding-bottom: 15px;
    }

    .tag {
        display: none;
    }

    .about-box {
        width: 30vw;
        height: auto;
    }

    .horizontal-line {
        width: auto;
        margin-bottom: 20px;
    }

    .working {
        text-align: center;
    }

    h3 {
        font-size: 40px;
    }

    .working h4 {
        font-size: 30px;
    }

    .about-right {
        margin-top: 20px;
        padding: 0;
    }

    .about-right p {
        width: 90vw;
        font-size: 14px;
        text-align: center;
        padding-bottom: 20px;
    }

    .about-page {
        overflow: visible;
    }

    .about-left,
    .about-box,
    .about-right {
        flex: 100%;
    }

    /* About Page Ends */

    /* Services Page Starts */
    .services-page {
        height: auto;
        padding-bottom: 25px;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 280px);
        gap: 10px;
        padding: 0;
        padding-top: 2vh;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .services-line {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .services-line h2 {
        font-size: 50px;
    }

    .service-title h4 {
        font-size: 15px;
    }

    /* Services Page End */

    /* Blog Page Starts */
    .blog-page {
        height: auto;
    }
    .blog-title h2 {
        width: 100vw;
        text-align: center;
    }
    .blog-title {
        margin: 0;
        padding: 0;
        padding-top: 5vh;
    }
    .blog1,
    .blog2,
    .blog3 {
        margin: 0 auto;
    }
    .time {
        background-color: orangered;
        width: 40px;
        height: 50px;
        text-align: center;
        margin-left: 2vw;
        margin-top: 13vh;
    }
    .date h4 {
        font-size: 30px;
    }
    .month h5 {
        color: white;
        font-family: "Bebas Neue", sans-serif;
        margin: 0;
    }
    .blog-text-1 {
        padding-left: 2vw;
        padding-top: 2vh;
        margin: 0 auto;
        justify-items: center;
    }
    .blog-text-1 h4 {
        text-align: center;
    }
    .blog-text-1 p {
        width: 70%;
        text-align: center;
        padding-left: 15%;
    }
    .blog-box-text-1 h4 {
        font-size: 28px;
    }
    .blog-box-text-1 p {
        width: 60vw;
        text-align: center;
    }
    .blog-box {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    /* Blog Page Ends */

    /* Team Section Starts */
    .team-page {
        height: auto;
        flex-direction: column;
    }
    .team-line {
        width: 80vw;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .team-line {
        font-size: 40px;
    }
    .member-image-1,
    .member-image-2,
    .member-image-3 {
        background-image: url('images/designer\ 1.svg');
        width: 60%;
        height: 60vh;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        border-radius: 10%;
    }
    .member-image-2 {
        background-image: url('images/designer\ 3.svg');
    }
    .member-image-3 {
        background-image: url('images/designer\ 2.svg');
    }
    .team-member {
        padding: 0;
    }
    .member-title h4 {
        font-size: 35px;
    }
    .member-title h5 {
        font-size: 25px;
    }
    .member-title p {
        width: 60%;
        font-size: 13px;
        padding-bottom: 30px;
    }
    /* Team Section Ends */

    /* Portfolio Section Starts */
    .main-container-1 {
        height: 40vh;
        width: 60vw;
    }
    .main-container-3 {
        height: 40vh;
        width: 40vw;
    }
    .min-box-1 {
        height: 50vh;
        width: 60vw;
    }
    .min-box-2 {
        display: none;
    }
    .small-box-1 {
        height: 25vh;
        width: 40vw;
    }
    .small-box-2 {
        height: 25vh;
        width: 40vw;
    }
    .min-box-4 {
        display: none;
    }
    .portfolio-title-1 {
        display: block;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .portfolio-title-1 h2 {
        width: 80vw;
        font-size: 40px;
        margin: 0 auto;
    }

    /* Portfolio Section Ends */

    /* Design Section Starts */
    .design-page {
        flex-direction: column;
        height: auto;
    }
    .design-box-1,
    .design-box-2,
    .design-box-3 {
        margin-top: 3vh;
        margin-left: 10vw;
        margin-right: 10vw;
        padding-bottom: 10px;
    }
    /* Design Section Ends */

    /* Contact Section Starts */
    .contact-page {
        height: auto;
    }
    .find-image {
        display: none;
    }
    .find-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .find-title h2 {
        font-size: 40px;
        width: 80vw;
    }
    .contact-item {
        margin-left: 20vw;
    }
    .contact-icon {
        padding-right: 20px;
    }
    /* Contact Section Ends */

}